@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

header .nav-item.btn a {
    color: var(--bs-light);
}
header .nav-item.btn:hover a {
    color: var(--bs-sea-green);
}
header .nav-item.btn:active a {
    color: var(--bs-amaranth-purple);
}

@media (min-width: 768px) {
    .image__wrapper {
        width: 50% !important;
    }

    .rounded-md-start {
        border-bottom-left-radius: var(--bs-border-radius) !important;
        border-top-left-radius: var(--bs-border-radius) !important;
    }
}

@media (max-width: 767px) {
    .image__wrapper {
        width: 100% !important;
    }
}
